form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    gap: 20px;

    input[type=submit] {
        margin-top: 20px;
    }

    .input-field {
       width: 300px;
    }
}