
// orange
$foreground: #FF9F5A;
$background: #E27030;
$page-background: #FDDDB7;


// original
$foreground: #0066ff;
$background: #000080;
$page-background: #B9D3EE;


// blue
$foreground: #23dcf0;
$background: #158aaa;
$page-background: #b7f1fd;